<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="header-title-page">
    PRODUCTS STORE
    <i class="fa fa-search" aria-hidden="true"></i>
  </h1>
</div>
<div class="container">
  <div class="row lg-margin">
    <div class="col-sm">
      <form>
        <div class="form-group">
          <label for="inputSearchText">Search for :</label>
          <input type="text" class="form-control" id="inputSearchText" name="searchText" [(ngModel)]="q.searchText" placeholder="What are you looking for ?">
        </div>
        <div class="form-check lg-margin">
          <ion-range-slider #sliderElement type="double" [min]="sliderMinPrice" [max]="sliderMaxPrice" [from]="sliderFromPrice" from_shadow="true"
            [to]="sliderToPrice" to_shadow="true" grid="true" grid_num="10" prefix="Price: " postfix=" €" decorate_both="false"
            (onFinish)="myOnFinish($event)"></ion-range-slider>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="isInStock" name="isInStock" [(ngModel)]="q.isInStock">
          <label class="form-check-label" for="isInStock">Show in Stock Only</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="isBestSeller" name="isBestSeller" [(ngModel)]="q.isBestSeller">
          <label class="form-check-label" for="isBestSeller">Show Best Seller Only</label>
          <small id="isBestSellerHelp" class="form-text text-muted" *ngIf="productServiceConfigResponse">* products sold greater than
            <strong>{{ productServiceConfigResponse?.soldBarrierStatusRangeConfig.max }}</strong> times ! </small>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="isActive" name="isActive" [(ngModel)]="q.isActive">
          <label class="form-check-label" for="isActive">Show active Only</label>
        </div>
        <p class="advanced-search">
          <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i [ngClass]="wasClicked ? 'fa fa-search-minus fa-lg':'fa fa-search-plus fa-lg'" aria-hidden="true" (click)="onAdvSearchClick()">&nbsp;Show more filters</i>
          </a>
        </p>
        <div class="collapse advanced-search" id="collapseExample">
          <fieldset class="form-group">
            <legend>Advanced Search
              <i class="fa fa-wrench" aria-hidden="true"></i>
            </legend>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosSearch" id="isSearchNone" [(ngModel)]="q.options" value="isSearchNone"> None
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosSearch" id="isSearchFuzzy" [(ngModel)]="q.options" value="isSearchFuzzy"> Performs fuzzy search
              </label>
              <small id="isSearchFuzzyHelp" class="form-text text-muted">* activates approximate string matching, with fuzzy tolerance =
                <strong>{{ productServiceConfigResponse?.maxFuzzyConfig }}</strong>
              </small>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosSearch" id="isSearchExactMatch" [(ngModel)]="q.options" value="isSearchExactMatch"> Performs exact match search
              </label>
              <small id="isSearchExactMatchHelp" class="form-text text-muted">* activates exact matching, where search terms order matters</small>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosSearch" id="isSearchProximity" [(ngModel)]="q.options" value="isSearchProximity"> Performs proximity search
              </label>
              <small id="isSearchProximityHelp" class="form-text text-muted">* activates proximity search, with max edit-distance tolerance =
                <strong>{{ productServiceConfigResponse?.maxEditDistanceConfig }}</strong>
              </small>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info" (click)="search()">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
          <hr>
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="row">
    <pre>{{ productResponse | json }}</pre>
  </div> -->
  <div class="row" *ngIf="productResponse.length > 0; else results_empty_content_tpl">
    <div class="col-sm">
      <table class="table table-sm table-inverse table-bordered results">
        <thead>
          <tr class="table-header">
            <th>#</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>SOLD</th>
            <th>IN STOCK</th>
            <th>ACTIVE</th>
            <th>BEST SELLER </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elt of productResponse, let ind = index;" [ngClass]="(ind%2==0)?'':'bg-info-custom'">
            <th scope="row">{{ ind + 1 }}</th>
            <td class="highlight-key-content" [innerHTML]="elt.highlight ? elt.highlight : elt.name"></td>
            <td>{{ elt.description }}</td>
            <td>{{ elt.price }}€</td>
            <td>{{ elt.sold }}</td>
            <td>{{ elt.inStock }}</td>
            <td class="text-center">
              <div *ngIf="elt.active; else inactive_content_tpl">
                <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
              </div>
              <ng-template #inactive_content_tpl>
                <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
              </ng-template>
            </td>
            <td class="text-center">
              <div *ngIf="elt.sold > productServiceConfigResponse.soldBarrierStatusRangeConfig.max">
                <i class="fa fa-thermometer-full fa-2x" aria-hidden="true"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #results_empty_content_tpl>
    <div class="text-center">
      No results ...
    </div>
  </ng-template>
</div>